<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <application
        android:name="com.wlz.client.WlzApplication"
        android:allowBackup="false"
        android:label="WLZ Client"
        android:supportsRtl="true"
        android:extractNativeLibs="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <activity
            android:name="com.pairip.licensecheck.LicenseActivity"
            android:exported="false"
            android:process=":mc" />

        <activity
            android:name="com.mojang.minecraftpe.MainActivity"
            android:exported="true"
            android:process=":mc"
            android:screenOrientation="sensorLandscape"
            android:launchMode="singleTask"
            android:alwaysRetainTaskState="true"
            android:enableOnBackInvokedCallback="false"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|density|fontScale|layoutDirection|colorMode">
            <meta-data
                android:name="android.app.lib_name"
                android:value="minecraftpe" />
        </activity>

        <activity
            android:name="com.wlz.client.WlzControlEditorActivity"
            android:exported="false"
            android:process=":mc"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.wlz.client.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
